@import url(sbros.css);

/* заготовки для упращения*/

/*позиционирование*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.dark_mode{
    background-color: black !important;
    color: white !important;
}
.dark_mode_f{
    background-color: rgb(47, 46, 46) !important;
    color: white;
}
.dark_mode_revers{
    background-color: white !important;
}
.dark_mode_txt{
    color: white !important;
}
.flex {
    display: flex;
    align-items: center;
}

.jflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    width: 70vw;
    margin: auto;
    padding: 2vh 0;
}

@media (max-width:1200px) {
    .row {
        width: 75vw;
    }
}

@media (max-width:992px) {
    .row {
        width: 80vw;
        padding: 1vh 0;
    }
}

@media (max-width:767px) {
    .row {
        width: 90vw;
        padding: 0.5vh 0;
    }
}



/*nav*/
.brg {
    display: none;
}

#nav {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 80;
}

.line {
    height: .2vh;
    /*0.2 можно и так записать*/
    background-color: grey;
    padding: 0 !important;
}

nav ul {
    display: flex;
    justify-content: center !important;
}

nav ul li {
    position: relative;
} 
nav ul li a {
    display: block;
    padding: 1vh 2vw;
    text-transform: uppercase;
    font-size: 1.05vw;
    color: #fe9b00;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}
nav ul li a:hover{
    background-color: #e25400;
    color: white;
}
nav li> ul {
    position: absolute;
    min-width: 150px;
    display: none;
}

nav li>ul li {
    margin: 0;
}

nav li>ul li a {
    text-transform: uppercase;
    background-color: #fd9c02;
    color: white;
}

nav li:hover>ul {
    display: block;
}

nav img {
    width: 11vw;
}

@media (max-width:1200px) {
    nav ul li {
        font-size: 1.3vw;
    }
}

@media (max-width:992px) {
    nav ul li {
        font-size: 1.5vw;
        margin-top: 1.5vh;
    }

}

@media (max-width:767px) {
    nav ul li {
        display: none;
    }

    .brg {
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 7vw;
        height: 4vh;
    }

    .brg div {
        width: 100%;
        height: .7vh;
        background-color: #fd9c02;
    }

    nav img {
        width: 17vw;
    }

    #nav {
        position: sticky;
        top: 0;
        background-color: white;
        z-index: 80;
    }

    .db {
        display: block !important;
        display: flex !important;
    }

    .dn {
        display: none !important;
    }

    .menu_brg {
        display: none;
        position: absolute;
        top: 2vh;
        right: 2vw;
        flex-direction: column;
        justify-content: space-between;
        width: 7vw;
        height: 4vh;
    }

    .menu_brg div {
        background-color: black;
        width: 7vw;
        height: .7vh;
    }

    .menu_brg div:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
    }

    .menu_brg div:nth-child(2) {
        display: none;
    }

    .menu_brg div:nth-child(3) {
        transform: rotate(-45deg);
    }

    .brg_nav {
        position: absolute;
        width: 100%;
        height: 100vh;
        z-index: 90;
        background-color: black;
        opacity: 0.7;
    }

    .brg_ul {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        padding-top: 5vh;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 99;
        background-color: #e25400;
    }

    .brg_ul li {
        width: 40vw;
        text-align: center;
        padding-bottom: 3vh;
        display: block;
        font-size: 3vw;
        color: white;
        border-bottom: .5vh solid white;
        transition: 0.3s ease-in-out;
        font-weight: 500;
    }

    .active {
        color: black ;
        border-color: black;
    }
}

@media (max-width:520px) {
    .brg {
        width: 10vw;
    }
}

@media (max-width:300px) {
    .brg {
        width: 15vw;
    }

    nav img {
        width: 30vw;
    }
}

.active {
    color: #e25400;
}

/* end nav*/

/*header*/
.header {
    position: relative;
    background-image: url(../img/header-image.jpg);
    background-size: cover;
    background-position: left top;
    background-repeat: no-repeat;
    height: 53vh;
    margin: 5vh auto;
}

.header_btn {
    position: absolute;
    bottom: 5vh;
    left: 2vw;
    text-transform: uppercase;
    font-weight: 700;
    width: 31vw;
    background-color: black;
    padding: 3vh 1vw;
    color: #767b80;
    font-size: 1.1vw;
}

.header_btn button {
    color: #fe9b00;
    font-size: 1.1vw;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width:992px) {
    .header {
        height: 30vh;
        margin: 3vh auto;
    }

    .header_btn {
        padding: 2vh 1vh;
        font-size: 1.5vw;
        width: 40vw;
        bottom: 3vh;
        left: 3.5vw;
    }

    .header_btn button {
        font-size: 1.5vw;
    }
}

@media (max-width:767px) {
    .header {
        height: 40vh;
        margin: 3vh auto;
    }

    .header_btn {
        padding: 2vh 1vh;
        font-size: 1.5vw;
        width: 40vw;
        bottom: 3vh;
        left: 3.5vw;
    }

    .header_btn button {
        font-size: 1.5vw;
    }
}

@media (max-width:500px) {
    .header {
        height: 25vh;
    }

    .header_btn h3 {
        display: none;
    }

    .header_btn {
        padding: 1.2vh 2vw;
        width: 22vw;
    }

    .header_btn button {
        font-size: 2.2vw;
    }
}

/*end header*/


/*about*/
.about .block {
    width: 21vw;
}

.arr {
    font-size: 2vw;
}

.chimg {
    width: 2vw;
    margin-right: 1vw !important;
    margin-top: 1vh;
}

.about li {
    margin-bottom: 1.5vh;
}

.about .flex,
.about {
    align-items: flex-start !important;
}

.flexb {
    display: flex;
    align-items: center !important;
    margin-bottom: 2vh;
}

.about h1,
.portfolio h1 {
    font-size: 1.5vw;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: .5vw;
}

.line_b {
    width: 21vw;
    height: 1.5vh;
    background-color: black;
    margin-bottom: 2vh;
}

.about p,
li {
    font-size: 1.1vw;
    text-align: justify;
    line-height: 2.8vh;
    margin-bottom: 3vh;
}

.about button {
    color: #fe9b00;
    font-size: 1.1vw;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width:992px) {
    .about .block {
        width: 25vw;
    }

    .line_b {
        width: 25vw;
        height: 1vh;
        margin-bottom: 1vh;
    }

    .about p,
    li {
        font-size: 1.5vw;
        line-height: 1.5vh;

    }

    .about li {
        margin-bottom: .5vh;
    }

    .about button {
        font-size: 1.5vw;
    }
}

@media (max-width:767px) {

    .about .block {
        width: 28vw;
    }

    .line_b {
        width: 28vw;
    }

    .about p,
    li {
        font-size: 1.8vw;
    }

    .about button {
        font-size: 1.8vw;
    }

    .about h1,
    .portfolio h1 {
        font-size: 2vw;
        margin-top: .8vh;
    }

    .arr {
        font-size: 4vw;
    }
}

@media (max-width:500px) {
    .line_b {
        width: 40vw;
        height: .5vh;
    }

    .about h1,
    .portfolio h1 {
        font-size: 4vw;
        margin-top: .8vh;
    }

    .about .block {
        width: 40vw;
    }

    .about p,
    li {
        font-size: 3vw;
        line-height: 2.3vh;
    }

    .about button {
        font-size: 3vw;
    }

    .about .block:nth-child(2) {
        display: none;
    }
}


/*end about*/

/*portfolio*/
.portfolio {
    padding-bottom: 8vh;
}

.mport {
    position: relative;
    width: 15vw;
    height: 20vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.mport:nth-child(1) {
    background-image: url(../img/portfolio_1.jpg);
}

.mport:nth-child(2) {
    background-image: url(../img/portfolio_2.jpg);
}

.mport:nth-child(3) {
    background-image: url(../img/portfolio_3.jpg);
}

.mport:nth-child(4) {
    background-image: url(../img/portfolio_4.jpg);
}

.port_btn {
    text-transform: uppercase;
    background-color: #fe9b00;
    position: absolute;
    bottom: 0;
    right: 0;
    transition: 0.3s ease-in-out;
}

.port_btn h1 {
    font-size: 1.3vw;
}

.port_btn:hover {
    transform: scale(1.3);
    bottom: .4vh;
    right: .8vw;
}

@media (max-width:992px) {
    .mport {
        width: 18vw;
        height: 10vh;
    }
}

@media (max-width:767px) {
    .mport {
        width: 20vw;
        height: 13vh;
    }
}

@media (max-width:500px) {
    .portfolio {
        padding-bottom: 2vh;
    }

    .portfolio .port_img {
        display: flex;
        flex-wrap: wrap;
    }

    .mport {
        width: 43vw;
        height: 18vh;
        margin-bottom: 3vh;
    }

    .port_btn {
        position: absolute;
        bottom: 0;
        right: 0;
        transition: 0.3s ease-in-out;
    }

    .port_btn h1 {
        font-size: 2vw;
    }
}

/*end port*/

/*blog*/
.blog {
    align-items: flex-start;
    padding-bottom: 10vh;
}

.blog h1 {
    font-size: 1.05vw;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: .5vw;
}

.blog p {
    font-size: 1vw;
    line-height: 2.5vh;
}

.blog .firs {
    width: 50vw;
}

.blog img {
    width: 2.5vw;
}

.blog .sec {
    width: 13vw;
}

@media (max-width:992px) {
    .blog p {
        font-size: 1.4vw;
        line-height: 1.5vh;
    }

    .blog .firs {
        width: 58vw;
    }

    .blog {
        padding-bottom: 5vh;
    }
}

@media (max-width:767px) {
    .blog {
        padding-bottom: 5vh;
    }

    .blog h1 {
        font-size: 1.5vw;
        margin-top: .7vh;
    }

    .blog .sec {
        width: 18vw;
    }

    .blog .firs {
        width: 65vw;
    }

    .blog p {
        font-size: 1.5vw;
        line-height: 2.5vh;
    }

    .blog img {
        width: 4vw;
    }
}

@media (max-width:500px) {
    .blog {
        flex-direction: column;
    }

    .blog .firs {
        width: 90vw;
    }

    .blog p {
        font-size: 2.8vw;
        line-height: 2.5vh;
    }

    .blog h1 {
        font-size: 3vw;
    }

    .blog .sec {
        margin-top: 3vh;
        width: 90vw;
        display: flex;
        justify-content: space-between;
    }

    .sec_img {
        width: 20vw;
    }
}

/*end blog*/

/*footer*/
footer {
    background-color: #e2e2e2;
}

footer ul {
    height: 1.5vh;
}

footer li {
    margin-right: .5vw;
    font-size: .9vw;
}

footer p {
    font-size: .9vw;
}

footer img {
    width: 10vw;
}


@media (max-width:992px) {
    footer {
        padding-top: 2vh;
    }

    footer ul {
        height: 2vh;
    }

    footer li {
        font-size: 1.5vw;
    }

    footer p {
        font-size: 1.5vw;
    }

    footer img {
        width: 15vw;
    }
}

@media (max-width:767px) {
    footer {
        padding-top: 3vh;
    }
}

@media (max-width:420px) {
    footer li {
        font-size: 2vw;
    }

    footer p {
        font-size: 2vw;
    }

    footer img {
        width: 20vw;
    }
}

@media (max-width:320px) {}

/*end footer*/

/*change styles*/
.page {
    display: none;
}

.p_active {
    display: block;
}

.portfolio_page ul li {
    font-size: 2vw;
}

/*end change*/

/*portf_page*/

.block_img .right img,
.left {
    width: 35vw;
    height: 80vh;
}

.block_img .left {
    background: linear-gradient(90deg, #fe9b01, #e25400);
}

.left div {
    color: white;
    text-transform: uppercase;
    width: 25vw;
    margin: auto;
    font-size: 5vw;
    padding-top: 15vh;
}

.left div h2 {
    font-weight: 600;
    margin-bottom: 7vh;
}

.left .line {
    height: .5vh;
    background-color: black;
    margin-bottom: 3vh;
}

@media (max-width:1200px) {

    .block_img .right img,
    .left {
        width: 37.5vw;
    }
}

@media (max-width:992px) {

    .block_img .right img,
    .left {
        width: 40vw;
    }
}

@media (max-width:767px) {

    .block_img .right img,
    .left {
        width: 45vw;
        height: 60vh;
    }

    .left div {
        padding-top: 10vh;
    }
}

@media (max-width:525px) {

    .block_img .right img,
    .left {
        height: 40vh;
    }

    .left div {
        width: 35vw;
        font-size: 7vw;
        padding-top: 5vh;
    }

    .left div h2 {
        margin-bottom: 3vh;
    }

    .left .line {
        height: .5vh;
        background-color: black;
        margin-bottom: 3vh;
    }
}

@media (max-width:380px) {

    .block_img .right img,
    .left {
        height: 30vh;
    }

    .left div {
        font-size: 6vw;
        width: 30vw;
    }
}


.port_block1,
.block_img {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
}

.port_block1 div {
    width: 30vw;
}

.port_block1 img {
    width: 30vw;
    margin-bottom: 2vh;
}

.port_block1 h1 {
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 500;
}

.port_block1 p {
    font-size: 1.4vw;
    text-align: justify;
}

@media (max-width:767px) {
    .port_block1 div {
        width: 40vw;
    }

    .port_block1 img {
        width: 40vw;
    }

    .port_block1 h1 {
        margin-top: 1vh;
    }

    .port_block1 p {
        font-size: 2vw;
        text-align: justify;
    }
}

@media (max-width:525px) {
    .port_block1 h1 {
        font-size: 3vw;
    }
}

@media (max-width:380px) {
    .port_block1 {
        display: flex;
        flex-direction: column;
    }

    .port_block1 div {
        width: 80vw;
        margin-bottom: 3vh;
    }

    .port_block1 img {
        width: 80vw;
    }

    .port_block1 h1 {
        margin-top: 1vh;
        font-size: 4vw;
    }

    .port_block1 .arr {
        font-size: 7vw;
    }

    .port_block1 p {
        font-size: 3vw;
        text-align: justify;
    }
}

/*end portf_page*/



/*about_page*/

.about_img {
    position: relative;
    margin-top: 5vh !important;
    margin-bottom: 5vh !important;
    height: 90vh;
    background-position: center;
    background-size: cover;
    background-image: url(../img/about_us_block_1.png);
}

.about_img button {
    bottom: 15vh;
    left: 26vw;
    position: absolute;
    background-color: #e25400;
    font-size: 2.5vw;
    color: white;
    text-transform: uppercase;
    padding: .5vh 4vw !important;
    font-weight: 400;
}

.img_row {
    margin-top: 5vh;
    margin-bottom: 5vh;
    background: linear-gradient(90deg, #fe9b01, #e25400);
}

.img_row img {
    width: 20vw;
}

.img_row div {
    width: 65vw;
    margin: auto;
}

.operating {
    width: 60vw;
    margin: auto;
    padding-top: 15vh;
    padding-bottom: 15vh;
    align-items: flex-start;
}

.operating .main {
    width: 30vw;
    align-items: flex-start;
}

.operating img {
    width: 12vw;
    height: 47vh;
}

.operating .text h3 {
    text-transform: uppercase;
    color: #fd9c02;
    font-size: 1.5vw;
}

.operating .text h1 {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 3vh;
}

.operating .text .line {
    width: 10vw;
    height: .8vh;
    background-color: black;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.operating .text p {
    color: #fd9c02;
    width: 25vw;
    font-size: 1.2vw;
}

.operating .text .second {
    color: black;
    font-style: italic;
    margin-top: 3vh;
}

.operating button {
    background-color: #e25400;
    font-size: 1.5vw;
    color: white;
    text-transform: uppercase;
    padding: .5vh 2.3vw !important;
    font-weight: 400;
    margin-top: 3vh !important;
}

.operating .rev {
    border: .4vw solid #e25400;
    width: 12vw;
    height: 45vh;
    text-align: center;
}

.rev h2 {
    margin: auto !important;
    margin-top: 5vh !important;
    width: 8vw;
    color: #fd9c02;
    font-weight: 700;
    font-size: 1.6vw;
    padding-bottom: 1vh;
    border-bottom: .8vh dashed black;
}

.rev .p {
    font-style: italic;
    font-size: 1.2vw;
    margin-top: 5vh;
}

.img_total {
    padding-top: 5vh !important;
    padding-bottom: 5vh !important;
}

.img1 {
    background-image: url(../img/about_us_4.3.png);
    width: 35vw;
    height: 90vh;
    background-position: center;
    background-size: cover;
}

.img2 {
    background-image: url(../img/about_us_4.1.jpg);
    width: 35vw;
    height: 45vh;
    background-position: center;
    background-size: cover;
}

.img3 {
    background-image: url(../img/aboyt_us_4.2.jpg);
    width: 35vw;
    height: 45vh;
    background-position: center;
    background-size: cover;
}

.img1 .text {
    margin-top: 25vh;
    margin-left: 3vw;
}

.img_total .text h3 {
    color: white;
    text-transform: uppercase;
    font-size: 1.5vw;
}

.img_total .text h1 {
    font-size: 3vw;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    margin-top: 3vh;
}

.img_total .text .line {
    width: 10vw;
    height: .4vh;
    background-color: white;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.img_total .text p {
    color: white;
    width: 23vw;
    font-size: 1.2vw;
}

@media (max-width:1200px) {
    .about_img button {
        left: 28vw;
    }

    .img1,
    .img2,
    .img3 {
        width: 37.5vw;
    }
}

@media (max-width:992px) {

    .img1,
    .img2,
    .img3 {
        width: 40vw;
    }

    .about_img button {
        left: 30vw;
    }

    .operating .rev {
        height: 35vh;
    }

    .rev h2 {
        margin-top: 3vh !important;
    }

    .operating img {
        height: 37vh;
    }
}

@media (max-width:767px) {
    .about_img {
        height: 50vh;
    }

    .about_img button {
        left: 36vw;
        bottom: 5vh;
    }

    .img_row {
        margin: 2vh auto;
    }

    .img_row img {
        width: 50vw;
        margin: 3vh auto;
    }

    .img_row div {
        width: 80vw;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .operating .rev {
        display: none;
    }

    .operating {
        width: 70vw;
        padding: 10vh 0;
    }

    .operating .main:first-child {
        width: 55vw;
        align-items: flex-start;
    }


    .operating img {
        width: 25vw;
        height: 35vh;
    }

    .operating .text h3 {
        font-size: 2.2vw;
    }

    .operating .text h1 {
        font-size: 4vw;
    }

    .operating .text .line {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .operating .text p {
        width: 40vw;
        font-size: 2.2vw;
    }

    .operating .text .second {
        margin-top: 2vh;
    }

    .operating button {
        font-size: 2.5vw;
    }

    .img1 {
        width: 45vw;
        height: 60vh;
    }

    .img2,
    .img3 {
        width: 45vw;
        height: 30vh;
    }

    .img1 .text {
        margin-top: 15vh;
        margin-left: 7vw;
    }

    .img_total .text h3 {
        font-size: 2.5vw;
    }

    .img_total .text h1 {
        font-size: 4.5vw;
        margin-top: 2vh;
    }

    .img_total .text .line {
        width: 15vw;
        height: .6vh;
        margin: 4vh 0;
    }

    .img_total .text p {
        width: 33vw;
        font-size: 2.2vw;
    }
}

@media (max-width:322px) {
    .about_img {
        height: 30vh;
    }

    .img_row img {
        width: 80vw;
        margin: 2vh auto;
    }

    .operating {
        width: 85vw;
        padding: 10vh 0;
    }

    .operating .main:first-child {
        width: 65vw;
        align-items: flex-start;
    }


    .operating img {
        width: 25vw;
        height: 25vh;
    }

    .operating .text h3 {
        font-size: 3vw;
    }

    .operating .text h1 {
        font-size: 4.8vw;
        margin-top: 1vh;
    }

    .operating .text .line {
        margin: 1vh 0;
        width: 20vw;
    }

    .operating .text p {
        width: 50vw;
        font-size: 2.8vw;
    }

    .operating .text .second {
        margin-top: 1vh;
    }

    .operating button {
        font-size: 3vw;
    }

    .img2,
    .img3 {
        display: none;
    }

    .img1 {
        width: 90vw;
        height: 40vh;
    }

    .img1 .text {
        margin-top: 10vh;
        margin-left: 7vw;
    }

    .img_total .text h3 {
        font-size: 3.5vw;
    }

    .img_total .text h1 {
        font-size: 6.5vw;
        margin-top: 2vh;
    }

    .img_total .text .line {
        width: 20vw;
        height: .6vh;
        margin: 2vh 0;
    }

    .img_total .text p {
        width: 50vw;
        font-size: 3.2vw;
    }
}

/*end about_page*/

/*form*/
.form{
    position: relative;
    z-index: 100;
    width: 100%;
    height: 100vh;
    position: fixed;
}
.dn{
    display: none;
}
.mute_form{
    width: 100%;
    height: 100vh;
    background-color: black;
    position: absolute;
    position: fixed;
    opacity: .7;
    z-index: 111;
    top: 0;
}
.form .text_form{
    position: absolute;
    width: 50vw;
    left: 25vw;
    height: 60vh;
    background-color: #fd9c02;
    opacity: 1 !important;
    z-index: 222;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.form .text_form div:last-child{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20vh;
}
.form .text_form h1{
    font-size: 7vw;
    color: grey;
    font-weight: 500;
}

.btn_ex{
    position: absolute;
    top: 2vh;
    right: 2vw;
}
.btn_ex img{
    width: 5vw;
}
